".platform-win32 atom-text-editor .platform-linux atom-text-editor": #atom-text-editor
  "ctrl-e": "unset!"

"atom-workspace atom-text-editor":
  "ctrl-k ctrl-l": "unset!"

"atom-workspace atom-text-editor:not([mini])":
  "ctrl-up": "editor:move-to-beginning-of-previous-paragraph"
  "ctrl-down": "editor:move-to-beginning-of-next-paragraph"

"body":
# splitting panes
  #{conflicts with emacs' 'kill line'} "ctrl-k ctrl-l": "custom:split-right"
  #{conflicts with emacs' 'kill line'} "ctrl-k ctrl-j": "custom:split-left"
  #{conflicts with emacs' 'kill line'} "ctrl-k ctrl-i": "custom:split-up"
  #{conflicts with emacs' 'kill line'} "ctrl-k ctrl-k": "custom:split-down"
# focusing panes
  "alt-l": "window:focus-pane-on-right"
  "alt-j": "window:focus-pane-on-left"
  "alt-i": "window:focus-pane-above"
  "alt-k": "window:focus-pane-below"
# moving items from pane to pane
  "ctrl-alt-l": "window:move-active-item-to-pane-on-right"
  "ctrl-alt-j": "window:move-active-item-to-pane-on-left"
  "ctrl-alt-i": "window:move-active-item-to-pane-above"
  "ctrl-alt-k": "window:move-active-item-to-pane-below"

".platform-darwin .platform-darwin .command-palette atom-text-editor":
  "alt-x": "command-palette:toggle"

".platform-win32 .platform-win32 .command-palette atom-text-editor":
  "alt-x": "command-palette:toggle"


".find-and-replace, .project-find, .project-find .results-view":
  "f4": "find-and-replace:replace-next"
  "shift-f4": "find-and-replace:replace-previous"

".platform-linux .platform-linux .c ommand-palette atom-text-editor":
  "alt-x": "command-palette:toggle"


# TODO:
  # - jump paragraphs with ctrl-{direction}
  # - ctrl-a and ctrl-e to start and end of line
  # - ctrl-n and ctrl-p for next and previous AC
  # - alt-x opens command-palette
